/* 
* @Author: anchen
* @Date:   2016-11-27 10:38:54
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-27 21:22:22
*/
@charset "UTF-8";
body{
    font-size:14px;
}
a{
    text-decoration: none;
    /*cursor:pointer;*/
}
a.hover{
    color: #24fa4d;
}
/*请浮动*/
.clearfix:after{
    content:;
    display:block;
    clear:both;
}
